<div class="course">

  <h2>{{course?.description}}</h2>

  <img class="course-thumbnail mat-elevation-z8" [src]="course?.iconUrl">

  <div class="spinner-container" *ngIf="isLoading">
    <mat-spinner></mat-spinner>
  </div>

  <table mat-table class="mat-elevation-z8 lessons-table" [dataSource]="lessons" matSort matSortDisableClear
    matSortActive="seqNo" matSortDirection="asc" multiTemplateDataRows>
    <ng-container matColumnDef="seqNo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>#</th>
      <td mat-cell *matCellDef="let lesson">{{ lesson.seqNo }}</td>
    </ng-container>
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
      <td mat-cell *matCellDef="let lesson">{{ lesson.description }}</td>
    </ng-container>
    <ng-container matColumnDef="duration">
      <th mat-header-cell *matHeaderCellDef>duration</th>
      <td class="duration-cell" mat-cell *matCellDef="let lesson">{{ lesson.duration }}</td>
    </ng-container>
    <ng-container matColumnDef="expand">
      <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
      <td mat-cell *matCellDef="let lesson">
        <button mat-icon-button aria-label="expand row" (click)="(onToggleLesson(lesson)); $event.stopPropagation()">
          <mat-icon *ngIf="expandedLesson !== element">keyboard_arrow_down</mat-icon>
          <mat-icon *ngIf="expandedLesson === element">keyboard_arrow_up</mat-icon>
        </button>
      </td>
    </ng-container>
    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
        <div class="example-element-detail" [@detailExpand]="element == expandedLesson ? 'expanded' : 'collapsed'">
          <div class="example-element-description">
            {{element.description}}
          </div>
        </div>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let lesson;columns:displayedColumns"
      [class.example-expanded-row]="expandedLesson === lesson" (click)="onToggleLesson(lesson)">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>

  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" [length]="course?.lessonsCount" showFirstLastButtons
    aria-label="Select page of periodic elements" class="mat-elevation-z5" se>
  </mat-paginator>


</div>
