.course {
  text-align: center;
  width: 390px;
  margin: 40px auto;
}

.course-thumbnail {
  width: 150px;
  margin: 20px auto 0 auto;
  display: block;
}

.description-cell {
  text-align: left;
  margin: 10px auto;
}

.duration-cell {
  text-align: center;
}

.duration-cell mat-icon {
  display: inline-block;
  vertical-align: middle;
  font-size: 20px;
}

.spinner-container {
  height: 360px;
  width: 390px;
  position: fixed;
  z-index: 1;
}

.lessons-table {
  min-height: 300px;
  margin-top: 10px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;

  tr:hover {
    background: whitesmoke;
    cursor: pointer;
    z-index: 2
  }

  tr.example-detail-row {
    height: 0;
  }
}

mat-paginator {
  width: 400px;
  padding-bottom: 10px;
  margin-bottom: 100px;
}

.spinner-container mat-spinner {
  margin: 130px auto 0 auto;
}

.mat-column-seqNo {
  width: 32px;
  border-right: 1px solid black;
  padding-right: 24px;
  text-align: center;
}

.mat-column-description {
  padding-left: 20px;
  text-align: left;
}

.mat-column-duration {
  font-style: italic;
}

.collapsed-detail {
  display: none;
}

// .mat-mdc-row:hover {
//   background: whitesmoke;
//   cursor: pointer;
// }



.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}
